@tailwind base;
@tailwind components;
@tailwind utilities;

.input-label {
  @apply block mb-2 font-medium leading-5 text-start capitalize text-gray-700 dark:text-white;
}

.input-box {
  @apply border border-gray-300 bg-white placeholder:capitalize dark:border-[#4D4D4D] dark:placeholder:text-white dark:bg-transparent focus:border-primary outline-none block w-full p-2.5 leading-5 text-gray-700 dark:text-white rounded-md;
}

.error-msg {
  @apply text-start whitespace-nowrap text-sm text-red-500 mt-1 capitalize;
}

.primary-btn {
  @apply md:text-base text-sm bg-primary dark:bg-[#001750] dark:border-[#001750] dark:hover:text-white text-white px-5 py-2 rounded-md font-medium cursor-pointer hover:!bg-transparent hover:text-primary transition-all duration-500 border-primary border focus:outline-none;
}

.primary-btn-outline {
  @apply md:text-base text-sm bg-white dark:bg-transparent text-primary dark:border-[#001750] dark:text-white dark:hover:bg-[#001750] px-5 py-2 rounded-md font-medium cursor-pointer hover:bg-primary hover:text-white transition-all duration-500 border-primary border focus:outline-none;
}

.secondary-btn {
  @apply md:text-base text-sm bg-slate-600 text-white px-5 py-2 rounded-md hover:bg-slate-700 font-medium cursor-pointer me-2;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 10px;
  background: #2196f3;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
input:-webkit-autofill::first-line,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-text-fill-color: #333 !important;
}

.react-datepicker-wrapper {
  width: 100%;
  .react-datepicker__input-container {
    cursor: pointer;
    z-index: 0;
    input {
      &:focus-visible {
        outline: unset !important;
        border: 1px solid #2196f3 !important;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 15%;
      z-index: 92;
      right: 10px;
      background: url('/img/calendar.png');
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.react-datepicker__triangle {
  &:after,
  &:before {
    border-bottom-color: #2196f3 !important;
    margin-left: -10px;
  }
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  top: 13px !important;
  border-color: #fff !important;
}

.react-datepicker__year-select,
.react-datepicker__month-select {
  margin-top: 10px;
  padding: 2px 5px;
  border: 1px solid #dee2e6 !important;
  outline: none;
  border-radius: 4px;
  background: #2196f3;
  color: #ffff;
  option {
    background: #ffff;
    color: #000000;
  }
}

.react-datepicker__header {
  background: #2196f3 !important;
  padding: 12px 4px !important;

  .react-datepicker-time__header,
  .react-datepicker__current-month {
    color: #ffff;
  }

  .react-datepicker__day-names {
    .react-datepicker__day-name {
      color: #ffff;
    }
  }
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
  background-color: #2196f3 !important;
}

.react-datepicker__time-list-item--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #2196f3 !important;
  color: #ffff !important;
}

.react-datepicker-year-header {
  color: #ffff !important;
}
.react-datepicker__year-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__year-text--in-range {
  background-color: #2196f3 !important;
  color: #ffff !important;
}

.react-datepicker__year-wrapper {
  max-width: 204px !important;
}


.dark .react-datepicker-wrapper ::after {
  background: url('/img/calendar-white.png');
  content: '';
  position: absolute;
  top: 15%;
  z-index: 92;
  right: 10px;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
